target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.mvn
mvnw
mvnw.cmd

.env

*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

logs/

.idea/
*.iml
*.iws
*.ipr

.vscode/

.DS_Store
