apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: efact-dev

bases:
  - ../../base

nameSuffix: -dev

commonLabels:
  environment: development

patches:
  - target:
      kind: Deployment
      name: ms1-documents
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

  - target:
      kind: Deployment
      name: ms2-validator
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

  - target:
      kind: StatefulSet
      name: elasticsearch
    patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 5Gi

  - target:
      kind: StatefulSet
      name: mongodb
    patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 2Gi
